*{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Verdana;
    text-align: center;
}
h1{
    color: white;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
p a{
    font-size: 16px;
    color: aquamarine;

}
